<h2>Please Sign In</h2>
<div class="row">
  <div class="span11">
    <p>In order to get a better idea of who's in the space, we ask that you sign in using this terminal.  This helps us should we have an emergency at the hive indicate who needs
    to be out of the building.  A name badge should be printed by the printer once you are done.  All guests are required to sign our <a href="http://www.hive13.org/wp-uploads/2012/12/HIVE13.liability.waver_.form_.2011.10.01.pdf">"WAIVER & RELEASE OF LIABILITY, ASSUMPTION OF 
	RISK, AND INDEMNITY AGREEMENT"</a> document before entering the space.  If this is your first time visiting the space, we'll generate the form for you to sign.  If you prefer
	to not sign a computer generated or tracked form, please speak to one of the members for a manual form to sign.</P>
  </div>
</div>
<div class="row">
  <div class="span10">
    <br>
  </div>
</div>

<%= render 'form' %>
