<div class="hero-unit">
<h2>Enroll a Card</h2>
<p>To enroll a card, take a blank card and place it on the enrollment terminal near the hive mobile computer.</p>
</div>

<div class="progress progress-striped active">
  <div class="bar bar-success" style="width: 5%;"></div>
  <div class="bar bar-warning" style="width: 0%;"></div>
  <div class="bar bar-danger" style="width: 0%;"></div>
</div>
<p class="lead">
  Waiting on your badge to be presented...
</p>
