<footer class="footer">
  <small>
    <a href="https://github.com/uid0/hive-rails-access">Hive13 Door Access Controller</a>
    by <a href="http://ianwilson.org">Ian Wilson</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="http://hive13.org/">Hive13 Home</a></li>
    </ul>
  </nav>
</footer>
